footer {
  margin-top: -4em;
  padding: 3em;
  text-align: center;
  color: var(--wenge-brown);
  font-size: 10px;
  font-family: var(--second-font);
}

footer a {
  color: var(--wenge-brown);
  font-weight: 800;
  text-decoration: none;
}

footer a:hover {
  color: var(--light-grey);
}

@media screen and (min-width: 1440px) {
  footer {
    margin-top: 0;
  }
}
