.nutrition {
  color: var(--wenge-brown);
  line-height: 1.3;
}

.nutrition__title {
  color: var(--nutmeg);
  padding: 0.5em 0;
  font-size: 36px;
}

.nutrition__text {
  font-family: var(--second-font);
  margin-bottom: 1em;
}

.nutrition__table {
  padding: 2em;
  width: 100%;
}

.nutrition__table-item {
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 1em 5em;
  border-bottom: 1px solid var(--light-grey);
}

.nutrition__table-item-highlight {
  color: var(--nutmeg);
}
